<div>
    <h2>
        <span jhiTranslate="myWalletApp.userCards.home.title">User Cards</span>
        <button class="btn btn-primary float-right create-user-cards" [routerLink]="['/', { outlets: { popup: ['user-cards-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="myWalletApp.userCards.home.createLabel">
            Create new User Cards
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="userCards">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="creditCardNumber"><span jhiTranslate="myWalletApp.userCards.creditCardNumber">Credit Card Number</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lastUsageMonth"><span jhiTranslate="myWalletApp.userCards.lastUsageMonth">Last Usage Month</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lastUsageYear"><span jhiTranslate="myWalletApp.userCards.lastUsageYear">Last Usage Year</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="cvv"><span jhiTranslate="myWalletApp.userCards.cvv">Cvv</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="userLogin"><span jhiTranslate="myWalletApp.userCards.user">User</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="toAccountAccountName"><span jhiTranslate="myWalletApp.userCards.toAccount">To Account</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let userCards of userCards ;trackBy: trackId">
                <td><a [routerLink]="['../user-cards', userCards.id ]">{{userCards.id}}</a></td>
                <td>{{userCards.creditCardNumber}}</td>
                <td>{{userCards.lastUsageMonth}}</td>
                <td>{{userCards.lastUsageYear}}</td>
                <td>{{userCards.cvv}}</td>
                <td>
                    {{userCards.userLogin}}
                </td>
                <td>
                    <div *ngIf="userCards.toAccountId">
                        <a [routerLink]="['../user-account', userCards.toAccountId  ]" >{{userCards.toAccountAccountName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../user-cards', userCards.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                    <!--     <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'user-cards/'+ userCards.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button> -->
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'user-cards/'+ userCards.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="userCards && userCards.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
