<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAccountTransactionsLabel" jhiTranslate="myWalletApp.accountTransactions.home.createOrEditLabel">Create or edit a Account Transactions</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!accountTransactions.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="accountTransactions.id" readonly />
        </div>
      <!--   <div class="form-group">
            <label jhiTranslate="myWalletApp.accountTransactions.fromUserEmail" for="field_fromUserEmail">From User Email</label>
            <select class="form-control" id="field_fromUserEmail" name="fromUserEmail" [(ngModel)]="accountTransactions.fromUserEmailId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.email}}</option>
            </select>
        </div>
        --> 
        <div class="form-group">
            <label jhiTranslate="myWalletApp.accountTransactions.fromAccount" for="field_fromAccount">From Account</label>
            <select class="form-control" id="field_fromAccount" name="fromAccount" [(ngModel)]="accountTransactions.fromAccountId" required>
                <option [ngValue]="null"></option>
                <option [ngValue]="userAccountOption.id" *ngFor="let userAccountOption of fromuseraccounts trackBy: trackFromUserAccountById">{{userAccountOption.accountName}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="myWalletApp.accountTransactions.toUserEmail" for="field_toUserEmail">To User Email</label>
            <select class="form-control" id="field_toUserEmail" name="toUserEmail" [(ngModel)]="accountTransactions.toUserEmailId" (change)="getToAccountsByUserId()" required>
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id" *ngFor="let userOption of tousers trackBy: trackToUserById">{{userOption.email}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="myWalletApp.accountTransactions.toAccount" for="field_toAccount">To Account</label>
            <select class="form-control" id="field_toAccount" name="toAccount" [(ngModel)]="accountTransactions.toAccountId" required>
                <option [ngValue]="null"></option>
                <option [ngValue]="userAccountOption.id" *ngFor="let userAccountOption of touseraccounts trackBy: trackFromToAccountById">{{userAccountOption.accountName}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="myWalletApp.accountTransactions.amount" for="field_amount">Amount</label>
            <input type="number" class="form-control" name="amount" id="field_amount"
                [(ngModel)]="accountTransactions.amount"
            required />
            <div [hidden]="!(editForm.controls.amount?.dirty && editForm.controls.amount?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.amount?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.amount?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
    </div>
     <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
